@import "variables";
@import "mixin";

.content-about-us {
  margin-bottom: 60px;

  @include breakpoint($mobile) {
    margin-bottom: 30px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 20px;
  }

  p {
    font-weight: 300;
    font-size: $font-size-base + 7;
    line-height: $line-height-base + 7;
    margin-bottom: 20px;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 5;
      line-height: $line-height-base - 10;
    }

    span {
      font-family: $font-Poiret-One;
      font-weight: 400;
      font-size: $font-size-base + 19;
      line-height: $line-height-base + 25;
      color: $emperor;

      @include breakpoint($mobile) {
        font-size: $font-size-base + 3;
        line-height: $line-height-base + 2;
      }
    }
  }

  &:last-child {
    p {
      font-weight: 400;
      font-size: $font-size-base;
      line-height: $line-height-base;

      @include breakpoint($mobile) {
        font-size: $font-size-base - 5;
        line-height: $line-height-base - 8;
      }
    }
  }
}

.about-us-breadcrumb {
  margin-bottom: 50px;

  @include breakpoint($tablet) {
    margin-bottom: 10px;
  }
}

.banner-about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/our-goal-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 65px 0 120px;
  position: relative;
  margin-bottom: 70px;

  @include breakpoint($tablet) {
    padding: 35px 0 60px;
  }

  @include breakpoint($mobile) {
    padding: 10px 0;
    margin-bottom: 20px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
  }

  p {
    font-family: $font-Poiret-One;
    font-weight: 400;
    font-size: $font-size-base + 31;
    line-height: $line-height-base + 21;
    padding-left: 160px;

    @include breakpoint($desktop) {
      padding-left: 70px;
    }

    @include breakpoint($tablet) {
      padding-left: 80px;
    }

    @include breakpoint($mobile) {
      font-size: $font-size-base - 5;
      line-height: $line-height-base - 15;
      padding-left: 70px;
    }
  }

  .title-home-page {
    margin-bottom: 110px;

    @include breakpoint($mobile) {
      font-size: $font-size-base + 3;
      line-height: $line-height-base - 7;
      margin-bottom: 25px;
    }
  }
}