@import "variables";
@import "mixin";

.content-about-us {
  margin-bottom: 60px;
  p {
    font-weight: 300;
    font-size: $font-size-base + 7;
    line-height: $line-height-base + 7;
    margin-bottom: 20px;

    span {
      font-family: $font-Poiret-One;
      font-weight: 400;
      font-size: $font-size-base + 19;
      line-height: $line-height-base + 25;
      color: $emperor;
    }
  }

  &:last-child {
    p {
      font-weight: 400;
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
  }
}

.about-us-breadcrumb {
  margin-bottom: 50px;
}

.banner-about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/our-goal-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 410px;
  padding: 20px 0;
  position: relative;
  margin-bottom: 70px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
  }

  p {
    font-family: $font-Poiret-One;
    font-weight: 400;
    font-size: $font-size-base + 31;
    line-height: $line-height-base + 21;
    padding-left: 160px;
  }

  .title-home-page {
    margin-bottom: 110px;
  }
}