@import "variables";
@import "mixin";

.btn-secondary {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $black;
  background-color: $transparent;
  border: none;

  &:hover {
    color: $black;
    background-color: $transparent;
    border: none;
  }

  &:focus,
  &:active {
    color: $black;
    background-color: $transparent;
    border: none;
    box-shadow: none;
  }

  &:after {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    background-image: url("../images/arrow-down.svg");
    background-repeat: no-repeat;
  }
}

.btn-icon {
  margin: 0 5px;
  padding: 3px;
  background: $transparent;
}

.languages {
  font-size: $font-size-base + 2;
  line-height: $line-height-base - 4;
  font-weight: 300;
  border: none;
  background: $transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;

  option {
    background: $transparent;
  }

  &:focus-visible {
    outline: none;
  }
}

.btn-general {
  background: $transparent;
}

.btn-link,
.btn-general {
  display: inline-block;
  position: relative;
  font-size: $font-size-base + 3;
  line-height: $line-height-base - 3;
  padding: 20px 80px 20px 0;
  text-decoration: none;
  color: $black;

  &:hover {
    color: $emperor;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 40px;
    height: 9px;
    transform: translate(0, -50%);
    background-image: url("../images/pointer-btn.svg");
    background-repeat: no-repeat;
  }
}

.btn-emperor {
  color: $emperor;

  &:hover {
    color: $black;
  }
}