@import "variables";
@import "mixin";

.btn-secondary {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $black;
  background-color: $transparent;
  border: none;
  position: relative;

  @include breakpoint($mobile) {
    font-size: $font-size-base + 3;
    line-height: $line-height-base + 5;
    color: $cotton-seed;
  }

  &:hover {
    color: $black;
    background-color: $transparent;
    border: none;

    @include breakpoint($mobile) {
      color: $emperor;
    }
  }

  &:focus,
  &:active {
    color: $black;
    background-color: $transparent;
    border: none;
    box-shadow: none !important;
  }

  &:after {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    background-image: url("../images/arrow-down.svg");
    background-repeat: no-repeat;
  }
}

.btn-icon {
  margin: 0 5px;
  padding: 3px;
  background: $transparent;

  &:hover {
    i {
      color: $emperor;
    }
  }

  i {
    @include breakpoint($mobile) {
      font-size: $font-size-base;
    }
  }
}

.languages {
  font-size: $font-size-base + 2;
  line-height: $line-height-base - 4;
  font-weight: 500;
  border: none;
  background: $transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;

  @include breakpoint($mobile) {
    font-size: $font-size-base + 2;
    line-height: $line-height-base - 4;
  }

  &:hover {
    color: $emperor;
  }

  option {
    background: $transparent;
  }

  &:focus-visible {
    outline: none;
  }
}

.btn-general {
  background: $transparent;
}

.btn-link,
.btn-general {
  display: inline-block;
  position: relative;
  font-size: $font-size-base + 3;
  line-height: $line-height-base - 3;
  padding: 20px 80px 20px 0;
  text-decoration: none;
  color: $black;

  @include breakpoint($mobile) {
    font-size: $font-size-base - 5;
    line-height: $line-height-base - 13;
    padding: 10px 50px 10px 0;
  }

  &:hover {
    color: $emperor;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 40px;
    height: 9px;
    transform: translate(0, -50%);
    background-image: url("../images/pointer-btn.svg");
    background-repeat: no-repeat;

    @include breakpoint($mobile) {
      background-image: url("../images/pointer-btn-mobile.svg");
    }
  }
}

.btn-emperor {
  color: $emperor;

  &:hover {
    color: $black;
  }
}

.btn-outline-secondary {
  border: none;
  border-bottom: 1px solid $emperor !important;
  border-radius: 0;
  padding: 0 5px;
  max-height: 20px;

  i {
    color: $emperor;
    font-size: 11px;
  }

  &:hover {
    background: $emperor;
    background-color: $emperor;

    i {
      color: $black;
    }
  }

  &:active {
    color: #fff;
    background-color: $transparent;
    border-color: $transparent;
  }

  &:focus {
    box-shadow: none !important;
  }
}