@import "variables";
@import "mixin";

.specifications-product {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 60px;

  @include breakpoint($tablet) {
    margin-bottom: 30px;
  }

  @include breakpoint($mobile) {
    flex-direction: column;
  }
}

.slider-wrap {
  max-width: 740px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1px solid $cotton-seed;
  position: relative;
  margin-right: 20px;

  @include breakpoint($desktop) {
    max-width: 470px;
    margin-right: 10px;
  }

  @include breakpoint($tablet) {
    max-width: 400px;
  }

  @include breakpoint($mobile) {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 18px;
  }

  .prev,
  .next {
    display: block !important;
    background: $transparent;
    border-radius: 5px;
    padding: 35px;

    @include breakpoint($tablet) {
      padding: 25px;
    }

    &:hover {
      &:after {
        filter: brightness(0.5)
      }
    }
  }

  .prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);

    &:after {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../images/btn-slider-left.svg");
      background-repeat: no-repeat;

      @include breakpoint($tablet) {
        background-image: url("../images/btn-slider-left-tablet.svg");
        width: 30px;
        height: 30px;
      }
    }
  }

  .next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

    &:after {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../images/btn-slider-right.svg");
      background-repeat: no-repeat;

      @include breakpoint($tablet) {
        background-image: url("../images/btn-slider-right-tablet.svg");
        width: 30px;
        height: 30px;
      }
    }
  }
}

.breadcrumb-card-product {
  margin-bottom: 50px;

  @include breakpoint($mobile) {
    display: block;
    margin-bottom: 25px;
  }
}

.card-product-slide {
  .slick-dots {
    margin-top: 0;
  }

  .slider-item {
    padding: 37px 90px;
    position: relative;

    @include breakpoint($desktop) {
      padding: 17px 60px;
    }

    @include breakpoint($tablet) {
      padding: 17px 30px;
    }
  }

  .btn-search {
    position: absolute;
    top: 11px;
    right: 17px;
    z-index: 20;

    @include breakpoint($mobile) {
      top: 6px;
      right: 6px;
    }
  }

  .slick-dots {
    align-items: center;
    justify-content: flex-start;
    margin: -30px 0 16px 20px;
    position: relative;
    z-index: 20;

    .slick-active {
      button {
        background: $transparent;
        padding: 0 48px 0 0;
        position: relative;
        font-size: $font-size-base + 3;

        @include breakpoint($mobile) {
          font-size: $font-size-base - 4;
          line-height: $line-height-base - 18;
          padding: 0 23px 0 0;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          height: 1px;
          width: 40px;
          background: $cotton-seed;

          @include breakpoint($mobile) {
            width: 20px;
          }
        }
      }
    }


    li {
      margin: 0 6px;

      @include breakpoint($mobile) {
        margin: 0 3px;
      }

      button {
        font-family: $base-font-default;
        font-weight: 400;
        font-size: $font-size-base;
        line-height: $line-height-base - 17px;

        @include breakpoint($mobile) {
          font-size: $font-size-base - 7;
        }
      }
    }
  }
}

.specifications-block {
  max-width: 500px;
  width: 100%;

  .btn-general {
    @include breakpoint($mobile) {
      font-weight: 500;
    }
  }
}

.name-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;

  @include breakpoint($tablet) {
    margin-bottom: 30px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 10px;
  }

  h3 {
    font-family: $font-Poiret-One;
    font-weight: 400;
    font-size: $font-size-base + 19;
    line-height: $line-height-base + 15;

    @include breakpoint($mobile) {
      font-size: $font-size-base + 3;
      line-height: $line-height-base - 4;
    }
  }

  span {
    font-size: $font-size-base - 7;
    line-height: $line-height-base - 11;
    color: $emperor;
  }
}

.specifications {
  @include breakpoint($mobile) {
    margin-bottom: 23px;
  }

  h3 {
    font-weight: 400;
    line-height: $line-height-base - 3;
    margin-bottom: 25px;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 5;
      line-height: $line-height-base - 13;
      margin-bottom: 12px;
    }
  }
}

.specifications-list {
  display: flex;
  flex-wrap: wrap;

  dt {
    width: 20%;
    font-weight: 400;
    margin-bottom: 15px;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 5;
      line-height: $line-height-base - 8;
      font-weight: 300;
    }
  }

  dd {
    width: 80%;
    color: $emperor;
    margin-bottom: 15px;
    padding-left: 20px;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 5;
      line-height: $line-height-base - 8;
      min-width: 170px;
    }
  }

  span {
    text-align: left;
    color: $emperor;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 5;
      line-height: $line-height-base - 8;
    }
  }

  s {
    margin-right: 35px;
    color: $emperor;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 5;
      line-height: $line-height-base - 8;
    }
  }

  .price {
    color: $black;
    line-height: $line-height-base + 4;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 5;
      line-height: $line-height-base - 8;
    }
  }
}

.tabs-wrap {
  margin-bottom: 50px;
}

#tabs {
  margin-bottom: 30px;

  @include breakpoint($tablet) {
    margin-bottom: 10px;
  }
}

.tabs-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 27px;
  font-size: $font-size-base + 3;
  line-height: $line-height-base - 3;
  margin-left: -11px;

  @include breakpoint($tablet) {
    margin-bottom: 20px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 10px;
    justify-content: space-between;
  }
}

.ui-tabs {
  @include breakpoint($mobile) {
    background: $white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
}

.ui-tabs-tab {
  margin: 0 20px;
  position: relative;

  &:first-child {
    margin-left: 0;

    @include breakpoint($mobile) {
      margin-left: 20px;
    }
  }

  @include breakpoint($mobile) {
    margin: 0 10px;
  }
}

.ui-tabs-anchor {
  display: block;
  padding: 5px 11px;

  @include breakpoint($mobile) {
    font-size: $font-size-base - 6;
    line-height: $line-height-base - 6;
    padding: 6px 0 6px;
  }
}

.tab-content {
  @include breakpoint($mobile) {
    padding: 0 10px 10px 10px;
  }

  p {
    margin-bottom: 22px;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 5;
      line-height: $line-height-base - 8;
    }
  }
}

.ui-state-active {
  .ui-tabs-anchor {
    color: $black;
  }
}

.new-items {
  .slick-dots {
    display: none !important;
  }

  .item {
    background: $white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .img-area {
    padding: 45px 0;
  }

  .description {
    h3 {
      font-family: $font-Poiret-One;
      font-size: $font-size-base + 7;
      line-height: $line-height-base + 1;
      font-weight: 400;
      margin-bottom: 17px;

      @include breakpoint($mobile) {
        font-size: $font-size-base;
        line-height: $line-height-base - 4;
      }
    }

    p {
      font-size: $font-size-base - 5;
      line-height: $line-height-base - 8;

      @include breakpoint($mobile) {
        line-height: $line-height-base - 8;
      }
    }

    .vendor-code{
      font-size: $font-size-base !important;
      line-height: $line-height-base !important;
      margin-bottom: 10px;
    }
  }

  .slick-slide {
    padding: 0 18px;

    @include breakpoint($desktop) {
      padding: 0 5px;
    }
  }

  .slick-list {
    margin: 0 20px;
    padding: 20px 0;

    @include breakpoint($desktop) {
      margin: 0 35px;
    }
  }
}

.new-items-block {
  margin-bottom: 55px;

  @include breakpoint($tablet) {
    margin-bottom: 30px;
  }
}

.new-items-wrap {
  position: relative;

  .slick-next,
  .slick-arrow {
    display: block !important;
    background: $transparent;
    padding: 5px;
  }


  .prev,
  .next {
    background: $transparent !important;
    border-radius: 5px;

    &:hover {
      background: $alabaster;
    }
  }

  .prev-1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  .next-1 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  .prev-1,
  .next-1 {
    img {
      &:hover {
        filter: brightness(0.5)
      }
    }
  }

}



