@import "mixin";
@import "variables";

.banner {
  display: flex;
  align-items: center;
  background-image: url("../images/banner-catalog.png");
  min-height: 360px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -107px;
  padding: 130px 0 15px;
  margin-bottom: 35px;
  position: relative;

  @include breakpoint($desktop) {
    margin-top: -120px;
    padding: 80px 0 15px;
  }

  @include breakpoint($tablet) {
    margin-top: -190px;
    padding: 160px 0 15px;
  }

  @include breakpoint($mobile) {
    margin-top: -80px;
    padding: 65px 0 15px;
    min-height: 130px;
    margin-bottom: 10px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4);
  }
}

.site-navigation {
  background: $porcelain-average;
  border-radius: 5px;
  max-width: 330px;
  width: 100%;
  height: fit-content;
  padding: 30px 40px 30px 30px;
  margin-right: 10px;

  @include breakpoint($desktop) {
    max-width: 260px;
    padding: 20px;
  }

  @include breakpoint($tablet) {
    max-width: 235px;
    padding: 10px;
  }

  @include breakpoint($mobile) {
    max-width: 100%;
    padding: 22px 30px;
    margin-right: 0;
    margin-bottom: 35px;
  }

  li {
    color: $emperor;
    margin-bottom: 4px;
  }

  a {
    display: block;
    position: relative;
    background: $porcelain-average;
    padding: 10px 18px 10px 10px;
    border-radius: 5px;

    &:hover {
      background: $porcelain;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      width: 17px;
      height: 18px;
      background-image: url("../images/arrow-site-navigation.svg");
      background-repeat: no-repeat;
    }
  }
}

.catalog-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;

  @include breakpoint($tablet) {
    margin-bottom: 15px;
  }

  @include breakpoint($mobile) {
    flex-direction: column;
  }

  .breadcrumb-mobile {
    display: none;

    @include breakpoint($mobile) {
      display: block;
    }
  }
}

.breadcrumb {
  align-items: center;
}

.breadcrumb-item {
  @include breakpoint($mobile) {
    font-size: $font-size-base - 5;
    line-height: $line-height-base - 8;
  }
  a {
    display: block;
    padding: 0 11px;
    color: $black;

    @include breakpoint($mobile) {
      padding: 0 5px;
    }
  }
}

.breadcrumb-item.active {
  color: $emperor;
}

.breadcrumb-item+.breadcrumb-item {
  position: relative;
  padding-left: 16px;

  @include breakpoint($mobile) {
    padding-left: 7px;
  }


  &::before {
    content: "";
    position: absolute;
    color: $emperor;
    width: 6px;
    height: 6px;
    background-image: url("../images/dot.svg");
    background-repeat: no-repeat;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    @include breakpoint($mobile) {
      background-image: url("../images/dot-mobile.svg");
      width: 3px;
      height: 3px;
    }
  }
}

.breadcrumb-area {
  @include breakpoint($mobile) {
    display: none;
  }
}

.catalog-content {
  max-width: 910px;

  .breadcrumb {
    margin-left: 40px;
    margin-bottom: 47px;

    @include breakpoint($tablet) {
      margin-left: 10px;
      margin-bottom: 15px;
    }
  }
}

.catalog-page {
  margin-bottom: 15px;

  li {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    max-width: 285px;

    @include breakpoint($desktop) {
      max-width: 235px;
    }

    @include breakpoint($mobile) {
      max-width: 100%;
      margin: 0 0 20px;
    }

    &:hover {
      box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
    }
  }

  .description {
    h3 {
      font-size: $font-size-base + 7;
      line-height: $line-height-base + 1;

      @include breakpoint($mobile) {
        font-size: $font-size-base;
        line-height: $line-height-base - 4;
      }
    }

    p {
      font-size: $font-size-base - 5;
      line-height: $line-height-base - 6;

      @include breakpoint($mobile) {
        line-height: $line-height-base - 8;
      }
    }

    .vendor-code{
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
  }
}

.btn-primary {
  color: $transparent;
  background-color: $transparent;
  border-color: $transparent;
  padding: 37px 0;

  @include breakpoint($tablet) {
    padding: 5px 0;
  }

  @include breakpoint($mobile) {
    padding: 0;
  }

  &:active,
  &:focus {
    color: $transparent !important;
    background-color: $transparent !important;
    border-color: $transparent !important;
    box-shadow: none !important;
  }

  &:focus-visible {
    outline: none;
  }

  &:hover {
    color: $transparent;
    background-color: $transparent;
    border-color: $transparent;
  }

  img {
    @include breakpoint($mobile) {
      max-width: 160px;
    }
  }
}

.modal {
  background: rgba(198, 195, 195, 0.7);
}

.modal-content {
  border: none;
  max-width: 330px;
  padding: 26px 33px 3px 33px;
}

.modal-title {
  font-family: $font-Poiret-One;
  font-size: $font-size-base + 7;
  line-height: $line-height-base + 11;
  font-weight: 400;
  margin-bottom: 13px;
}

.modal-body {
  padding: 0;

  .form-group {
    margin-bottom: 16px;
  }

  input {
    width: 100%;
    border: 1px solid $emperor;
    height: 35px;
    background: $transparent;
    font-size: $font-size-base;
    line-height: $line-height-base - 11;
    border-radius: 5px;
    padding: 5px 15px;

    &::placeholder {
      color: $boulder;

      @include breakpoint($mobile) {
        font-size: $font-size-base - 5;
        line-height: $line-height-base - 16;
      }
    }
  }

  textarea {
    width: 100%;
    resize: none;
    height: 97px;
    padding: 5px 15px;
  }
}

.modal-header {
  border-bottom: none;
  padding: 0;

  .btn-close {
    position: absolute;
    right: 15px;
    top: 15px;

    &:active,
    &:focus {
      color: $emperor !important;
      background-color: $transparent !important;
      border-color: $transparent !important;
      box-shadow: none !important;
    }
  }
}

.modal.show {
  .modal-dialog {
    display: flex;
    justify-content: center;
  }
}

.page-item.active  {
  .page-link {
    color: $emperor;
    background-color: $transparent;
    border-color: $transparent;
  }
}

.page-item {
  &:nth-child(3) {
    .page-link {
      padding: 6px 0 6px 6px;
    }
  }

  &:last-child {
    .page-link {
      padding: 6px 6px 6px 0;
    }
  }
  .add {
    padding: 0;
  }
}

.pagination {
  align-items: center;

  @include breakpoint($mobile) {
    display: none;
  }
}

.page-link {
  font-weight: 500;
  line-height: $line-height-base - 3;
  color: $cotton-seed;
  border: none;
  padding: 6px;

  &:active,
  &:focus {
    color: $emperor !important;
    background-color: $transparent !important;
    border-color: $transparent !important;
    box-shadow: none !important;
  }

  &:hover {
    color: $emperor;
    background: $transparent;
  }
}