@import "variables";
@import "mixin";

.footer {
  padding: 50px 0 10px;
  background: linear-gradient(0deg, rgb(199, 199, 199) 14%, rgb(255, 255, 255) 100%);

  @include breakpoint($mobile) {
    padding: 10px 0;
  }
}


.footer-content {
  display: flex;
  justify-content: space-between;
}

.contact-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-width: 810px;
  width: 100%;

  @include breakpoint($mobile) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }
}

.contact-info {
  max-width: 330px;

  h3 {
    color: $emperor;
    line-height: $line-height-base + 2;
    font-weight: 500;

    @include breakpoint($mobile) {
      display: none;
    }
  }

  address {
    line-height: $line-height-base + 2;
    font-weight: 500;
    color: $emperor;
    cursor: pointer;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 10;
      line-height: $line-height-base - 16;
    }

    &:hover {
      color: $black;
    }
  }

  a {
    line-height: $line-height-base + 2;
    font-weight: 500;
    display: block;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 10;
      line-height: $line-height-base - 11;
    }
  }
}

.navigation {
  max-width: 320px;
  width: 100%;

  @include breakpoint($tablet) {
    max-width: 190px;
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @include breakpoint($mobile) {
    margin-bottom: 0;
  }

  a {
    display: block;
    padding: 2px 6px;

    i {
      font-size: 16px;
    }
  }
}

.navigation-footer {
  line-height: $line-height-base + 2;
  font-weight: 500;
  text-align: right;

  @include breakpoint($mobile) {
    font-size: $font-size-base - 9;
    line-height: $line-height-base - 9;
  }

  a {
    display: block;
  }
}

.copyright {
  line-height: $line-height-base - 7;
  color: $emperor;
  font-weight: 500;

  @include breakpoint($mobile) {
    font-size: $font-size-base - 10;
    line-height: $line-height-base - 19;
  }
}