@import "mixin";
@import "variables";

.services-banner {
  background-image: url("../images/servises-banner.png");
  padding: 190px 0 15px;

  @include breakpoint($mobile) {
    padding: 70px 0 15px;
  }
}

.breadcrumb-area-services {
  @include breakpoint($mobile) {
    display: block;
  }

  .breadcrumb {
    margin-bottom: 30px;
  }

  .breadcrumb-item {
    &:first-child {
      a {
        padding-left: 0;
      }
    }
  }
}

.our-services {
  .title-block {
    font-size: $font-size-base +47;
    line-height: $line-height-base + 38;
    margin-bottom: 60px;

    @include breakpoint($tablet) {
      margin-bottom: 40px;
    }

    @include breakpoint($mobile) {
      display: none;
    }
  }
}

.our-services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -42px;

  @include breakpoint($tablet) {
    margin: 0 -15px;
  }

  @include breakpoint($mobile) {
    flex-direction: column;
  }

  li {
    width: 50%;
    padding: 0 42px;
    margin-bottom: 75px;

    @include breakpoint($tablet) {
      padding: 0 15px;
      margin-bottom: 25px;
    }

    @include breakpoint($mobile) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  h3 {
    font-family: $font-Poiret-One;
    font-size: $font-size-base + 19;
    line-height: $line-height-base +  3;
    margin-bottom: 30px;

    @include breakpoint($tablet) {
      margin-bottom: 10px;
    }

    @include breakpoint($mobile) {
      font-size: $font-size-base + 3;
      line-height: $line-height-base - 10;
    }
  }
}

.write-to-us-wrap-services {
  min-height: 1035px;

  @include breakpoint($tablet) {
    min-height: 935px;
  }

  @include breakpoint($mobile) {
    min-height: 415px;
  }
}