@import "variables";
@import "mixin";

.subcategory-directory-banner {
  background-image: url("../images/subcategory-directory-banner.png");
}

.subcategories-list {
  .active {
    color: $black;
  }

  li {
    margin-bottom: 5px;
  }

  a {
    padding: 5px 0;

    &:after {
      display: none;
    }
  }
}