$white: #fff;
$black: #000;
$emperor: #565353;
$transparent: transparent;

//font page
$base-font-default: 'Montserrat', sans-serif;
$font-Poiret-One: 'Poiret One', cursive;

//Body
$base-text-color: $black;
$base-background: $white;
$base-font-family: $base-font-default;
$font-size-base: 17px;
$line-height-base: 28px;
$base-min-width: 320px